{% for template in procedures['procedure_template'] %}
{% if 'Instances' in template['template_code'] %}
template_path: templates/{{ template['template_name'] }}
{% endif %}
{% endfor %}
parameters:
{% for template in procedures['procedure_template'] %}
{% if 'Instances' in template['template_code'] %}
{% for parameters in template['template_parameters'] %}
    {{ parameters['parameter_name'] }}: {{ parameters['parameter_value'] }}
{% endfor %}
{% endif %}
{% endfor %}