<html>
<head>

    <title>{{ release_details['APPLICATION_DISPLAY_NAME'] }} - {{release_details['APPLICATION_RELEASE_NAME']}}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3>{{ release_details['APPLICATION_DISPLAY_NAME'] }}  </h3>
				            <p><h3><span class="label label-{{ release_version_type_css }}">{{ release_details['APPLICATION_RELEASE_NAME'] }}</span><h3></p>
                            <p><h4>Released on {{release_date}}</h4></p>
                </div>
                <div class="panel-body">

                    <div class="alert alert-info" role="alert">
                        <div class="btn-toolbar" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" onclick="location.href='{{release_download_link}}'">
                                <h5><span class="glyphicon glyphicon glyphicon-cloud-download" aria-hidden="true"></span> {{ release_details['ARCHIVE_NAME'] }}</h5>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="location.href='{{release_ami_link}}'">
                                <h5><span class="glyphicon glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Amazon Machine Image ({{release_ami_identifier}})</h5>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Release Notes</div>
                <div class="panel-body">{{ release_notes }}</div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

</body>
</html>